<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title> Nuestras coders </title>
        <link href="coders.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    </head>

    <body>
        <header>
             Nuestras coders 
        </header>
        <hr style="width:7%;" 'border:solid;">

        <section class="first line">
                <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZI2VePQoU9n4_RbIvcmWvUehJ30NypVIIjhafQq6YHew__H9UA" width=150px; height= 150px; rel="Daria" class=one/>
                        <p>Daria Morgendorffer</p>

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZI2VePQoU9n4_RbIvcmWvUehJ30NypVIIjhafQq6YHew__H9UA" width=150px; height= 150px; rel="Daria2" class=two/>
                        <p>Lola Lolita</p>

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZI2VePQoU9n4_RbIvcmWvUehJ30NypVIIjhafQq6YHew__H9UA" width=150px; height= 150px; rel="Daria3" class=three/>
                        <p>Fulana Fulanita</p>
                </div>           
        </section>
      
        <section class="second line">
                <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhaIENpaKA-ynKK9tJSR9930mWZbgcHhla5xoj2pZA5NPRAuCoA" width=150px; height=150px; rel="Jane1" class=four/>
                        <p>Jane Lane</p>

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhaIENpaKA-ynKK9tJSR9930mWZbgcHhla5xoj2pZA5NPRAuCoA" width=150px; height=150px; rel="Jane2" class=five/>
                        <p>Auro Duran</p>

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhaIENpaKA-ynKK9tJSR9930mWZbgcHhla5xoj2pZA5NPRAuCoA" width=150px; height=150px; rel="Jane3" class=six/>
                        <p>Dafne Rojas</p>
                </div>
        </section>
    </body>
</html>