<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title> Nuestras coders </title>
        <link href="css/nuestrascoders.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    </head>

    <body>
        <header>
             Nuestras coders 
        </header>
        <hr/>

        <section class="first line">
                <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZI2VePQoU9n4_RbIvcmWvUehJ30NypVIIjhafQq6YHew__H9UA" width=150px; height= 150px; rel="Daria" class=one/>
                        
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZI2VePQoU9n4_RbIvcmWvUehJ30NypVIIjhafQq6YHew__H9UA" width=150px; height= 150px; rel="Daria2" class=two/>
                      
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZI2VePQoU9n4_RbIvcmWvUehJ30NypVIIjhafQq6YHew__H9UA" width=150px; height= 150px; rel="Daria3" class=three/>
                </div>            
        </section>
      
        <section class="second line">
                <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhaIENpaKA-ynKK9tJSR9930mWZbgcHhla5xoj2pZA5NPRAuCoA" width=150px; height=150px; rel="Jane1" class=four/>
                     
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhaIENpaKA-ynKK9tJSR9930mWZbgcHhla5xoj2pZA5NPRAuCoA" width=150px; height=150px; rel="Jane2" class=five/>
                
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhaIENpaKA-ynKK9tJSR9930mWZbgcHhla5xoj2pZA5NPRAuCoA" width=150px; height=150px; rel="Jane3" class=six/>
                </div>
        </section>
    </body>
</html>