<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title> Nuestras coders </title>
        <link href="css/probando.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    </head>

    <body>
        <header>
             Nuestras coders 
        </header>
        <hr/>

        <section class="first line">
                <div class="first">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZI2VePQoU9n4_RbIvcmWvUehJ30NypVIIjhafQq6YHew__H9UA" width=150px; height= 150px; rel="Daria" class="one"/>
                  <p>Daria Morgendorffer</p>
                </div>  
                <div class="second">      
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZI2VePQoU9n4_RbIvcmWvUehJ30NypVIIjhafQq6YHew__H9UA" width=150px; height= 150px; rel="Daria2" class="two"/>
                  <p>Morris Morrison</p>
                </div>    
                <div class="third">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAZI2VePQoU9n4_RbIvcmWvUehJ30NypVIIjhafQq6YHew__H9UA" width=150px; height= 150px; rel="Daria3" class="three"/>
                  <p>Mary Sol</p>
                </div>            
        </section>
      
        <section class="second line">
                <div class="fourth">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhaIENpaKA-ynKK9tJSR9930mWZbgcHhla5xoj2pZA5NPRAuCoA" width=150px; height=150px; rel="Jane1" class="four"/>
                    <p>Jane Lane</p>
                </div>
                <div class="fifth">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhaIENpaKA-ynKK9tJSR9930mWZbgcHhla5xoj2pZA5NPRAuCoA" width=150px; height=150px; rel="Jane2" class="five"/>
                    <p>Cup Head</p>
                </div>
                <div class="sixth">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhaIENpaKA-ynKK9tJSR9930mWZbgcHhla5xoj2pZA5NPRAuCoA" width=150px; height=150px; rel="Jane3" class="six"/>
                    <p>Fulana Fulanita</p>
                </div>
        </section>
    </body>
</html>